mixin slider(params)
	-
		var defaultParams = {
			images: [],
			sliderClassName: 'slider',
			wrapClassName: 'slider-wrap',
			slickClassName: 'slider-slick-portfolio-item'
		};
		var config = Object.assign({}, defaultParams, params);

	.slider-container
		div(class=`${config.wrapClassName}`)
			button.slider-wrap__button-transparent.button-resize-slider
				i.fi-arrows-out.icon-resize
			div(class=config.slickClassName)
				each imageUrl in config.images
					img(src=imageUrl)
