extends pug/base
include pug/mixins/input
include pug/mixins/checkbox
include pug/mixins/portfolio-item

append styles
	link(rel="stylesheet" href='css/foundation-icons.css')

append vars
	-
		var title = 'Портфолио';
		var description = 'Портфолио front-end разработчика. Автор Тимофей Гончаров.';
		meta.themeColor = '#b4b4b4';

block content
	-
		var checkboxes = [
			'html5',
			'css3',
			'БЭМ',
			'SCSS',
			'gulp',
			'webpack',
			'vanillaJS',
			'react',
			'redux',
			'jquery',
			'git',
			'git-flow'
		];
		var portfolioItems = [
			{
				title: 'Приложение для социальной сети vk',
				goal: 'Реализовать приложения для поиска людей по совместимости (общие группы, предпочтения музыка и тд). Необходимо было использовать api социальной сети для сбора необходимой информации и осуществления поиска.',
				myWork: 'Имея опыт работы в разработке интерфейсов и не имея шаблона и дизайна, я выбрал React и разработал SPA приложение. Вместо back-end использовался firebase.',
				technology: 'JavaScript, HTML, scss, webpack, React, React-redux (thunk), react-router, redux-form, axios, firebase',
				result: 'Было разработано оптимизированное приложение с красивым и понятным интерфейсом',
				images: [ 'images/portfolio/vk-app/vk-app1.png', 'images/portfolio/vk-app/vk-app2.png', 'images/portfolio/vk-app/vk-app3.png', 'images/portfolio/vk-app/vk-app4.png' ],
				sliderClassName: 'slider-vk-app',
				wrapId: 'sliderVKApp'
			},
			{
				title: 'Приложение для организации зерноперевозок по россии',
				goal: 'Заказчик хотел автоматизировать процессы его бизнеса и предоставить удобство своим клиентам. Основной задачей было создание сервиса в котором владелец грузового транспорта мог создать акаунт, выложить данные о себе и искать работодателя. Каждый пользователь должен был иметь возможность выводить на карту маркер сигнализирующий о готовности брать груз. Так же необходимо было предусмотреть админку с возможностью проверки всех аккаунтов и данных пользователей (документы, данные о транспорте и тд).',
				myWork: 'Я взял на себя всю работу связанную с front-end. Мой напарник разработал rest full api на node js использую mongodb в качестве базы данных.',
				technology: 'JavaScript, HTML, scss, webpack, React, React-redux (thunk), react-router, redux-form, axios',
				result: 'В результате заказчик получил работающий сервис, который избавил его от бесконечных звонков, а его клиенты получили возможность легко и быстро находить работодателей.',
				images: [ 'images/portfolio/vk-app/vk-app1.png', 'images/portfolio/vk-app/vk-app2.png', 'images/portfolio/vk-app/vk-app3.png', 'images/portfolio/vk-app/vk-app4.png' ],
				sliderClassName: 'slider-zernoport',
				wrapId: 'sliderZernoport'
			},
			{
				title: 'Brior корпоративный сайт',
				goal: 'Разработать корпортивный сайт для компании Brior. По запросу заказчика необходимо было для получения некоторых данных связать фронт-енд с node js и mongo db: новости, открытые вакансии и т.д. ',
				myWork: 'Мне потребовалось 3 дня что бы все сверстать и подготовить фронт-енд для связи с бэк-ендом.',
				technology: 'JavaScript, webpack, pug, scss',
				result: 'В результате заказчик получил адаптивный сайт с pixel perfect совпадением дизайна.',
				images: [ 'images/portfolio/brior/brior1.png', 'images/portfolio/brior/brior2.png', 'images/portfolio/brior/brior3.png', 'images/portfolio/brior/brior4.png', 'images/portfolio/brior/brior5.png', 'images/portfolio/brior/brior6.png' ],
				sliderClassName: 'slider-zernoport',
				wrapId: 'sliderBrior'
			}
		];
	section.section-info
		.paper-card-info
			img.paper-card-info__avatar(src="/images/avatar.png" alt="avatar")
			.paper-card-info__wrap-inputs#infoInputs
				+input({id: "infoName", placeholder: "имя"})
				+input({id: "infoDob", placeholder: "дата рождения"})
				+input({id: "infoCity", placeholder: "город"})
				+input({id: "infoContacts", placeholder: "контактные данные"})
				img.stamp#infoStamp(src="/images/stamp.png" alt="stamp")
		.paper-card-skills
			h2.paper-card-skills__title
				| Навыки
			.grid-x#skills
				.cell.small-6.medium-3.large-3.column-skills-checkboxes
					each checkbox in checkboxes.slice(0, 3)
						+checkbox({ forIdLabel: checkbox })
				.cell.small-6.medium-3.large-3.column-skills-checkboxes
					each checkbox in checkboxes.slice(3, 6)
						+checkbox({ forIdLabel: checkbox })
				.cell.small-6.medium-3.large-3.column-skills-checkboxes.wrap-mobile-bottom-skills
					each checkbox in checkboxes.slice(6, 9)
						+checkbox({ forIdLabel: checkbox })
				.cell.small-6.medium-3.large-3.column-skills-checkboxes.wrap-mobile-bottom-skills
					each checkbox in checkboxes.slice(9, 12)
						+checkbox({ forIdLabel: checkbox })
		.grid-x.paper-card-js-level
			.cell.small-12.medium-6.large-6.level-js-meter
				img.level-js-meter__image-scale(src="/images/scale.png" alt="javascript scale")
				img.level-js-meter__image-arrow#jsScaleArrow(src="/images/arrow.png" alt="arrow")
			.cell.medium-6.large-6.level-js-counter
				.level-js-counter__text
					| Мой уровень владения <br/> Java Script
				.level-js-counter__count#jsLevelCount
					| 0
	section.portfolio
		.paper-card-info-portfolio
			h1.paper-card-info-portfolio__title
				| Портфолио
			p.paper-card-info-portfolio__paragraph
				|	Свою карьеру front-end разработчика я начал в январе 2016 года. На протяжении последних лет
				| я сталкивался с разными задачами, связанными с фронт-ендом, мне приходилось, как
				| разрабатывать свои проекты с нуля, так и работать в команде. Ниже я приведу список самых
				| интересных задач и проектов, которые были разработаны мной с нуля.
		each portfolioItem in portfolioItems
			+portfolioItem(portfolioItem)